body { 
	/*padding-top: 50px;*/
	font-family:  calibri;
}

h1 {
	font-size:3.1em;
	margin-bottom:0px;
}

h2 {
	font-weight: bold;
	font-size: 1.7em;
}

h3 {

	font-size: 1.4em;
	margin-bottom: 0px;
}

h4 {
	font-size: 1.0em;
	color: grey;
	margin-top: 0px;
}

p {
	font-size:1.2em;
	color: grey;
}

h1.subtitle {
	margin-top: 0px;
	color: grey;
	font-size: 1.5em;
}

ul li {
	font-size:1.2em;
}

.navbar {
	height: 30px;
	min-height: 50px;
	background: none;
	border-bottom: 0px solid grey;
	box-shadow: none;

}

.navbar, .navbar  a {
	padding-top: 5px;
	font-size:1.2em;
}

.navbar a:hover {
	border-bottom: 1px solid grey;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar {
    text-align: center;
}

.navbar-header a {
	font-size:0.9em;
	min-height: 10px;
}