{{ partial "header.html" }}

<nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
      	<li><a href="/">.homepage</a></li>
      	{{ range .Site.Pages }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
      </ul>
</nav>

<div class="container">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Nicolas Vignes</h1>
	<h1 class="subtitle">Software Engineering Student</h1>

		<h2>About</h2>
		<p>I'm a 21 years old French citizen. I'm currently studying Computer Science at Grenoble INP - Ensimag, one of the best french IT school.</p>

		<h2>Hobby</h2>
		<p>I'm currently writing courses and ebooks for OpenClassrooms, a french website which provides free computer courses.</p>
		<p>I'm also very interested in all the things that concern new technology and computer science, especially Apple products.</p>

		<h2>This Website</h2>
		<p>This website is an overview of my work during the recent years, personnal and school projects. You can also find my resume.</p>
	</div>
	</div>
</div>

{{ partial "footer.html" }}