<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/style.css">

	<title>{{ .Title }}</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="/">.homepage</a></li>
      	{{ range .Site.Pages }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<h1 class="text-center">Nicolas Vignes</h1>
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<h3>About</h3>
		<p>I'm a student in software ingeniering field at Grenoble INP - Ensimag. I'm 21 years old.</p>

		<h3>Ensimag</h3>
		<p>Ensimag is the best</p>
	</div>
	</div>
</div>

</body>
</html>
